// COLORS

$primaryColor: #47b247;
$secondaryColor: #96c22b;
$gradient: linear-gradient(#8cb928, #45ae4d);
$shadowColor:#48ae4b;
$dangerColor: #bf4444;

$titleColor: #313334;
$normalColor: #dae0e5;
$bgColor: #f7f7f7;

// COLORS

$box-shadow: 0px 25px 100px $shadowColor;