<section class="section buy">
    <div class="container">
        <h2 class="section__title buy__title">Приобрести</h2>
        <div class="buy__list">
            <div class="buy__card card">
                <div class="buy__card-images-wrapper">
                    <div class="buy__card-images-wrapper__row">
                        <img src="assets/images/camera-svg.svg" alt="Покупка" class="buy__card-images-wrapper__row-img">
                    </div>
                </div>
                <div class="buy__card-title-wrapper">
                    <span class="buy__card-title">Покупка</span>
                </div>
            </div>

            <div class="buy__card card">
                <div class="buy__card-images-wrapper">
                    <div class="buy__card-images-wrapper__row">
                        <img src="assets/images/calendar.svg" alt="Календарь" class="buy__card-images-wrapper__row-img">
                        <img src="assets/images/camera-svg-small.svg" alt="Камера" class="buy__card-images-wrapper__row-img">
                    </div>
                </div>
                <div class="buy__card-title-wrapper">
                    <span class="buy__card-title">Рассрочка</span>
                </div>
            </div>

            <div class="buy__card card">
                <div class="buy__card-images-wrapper">
                    <div class="buy__card-images-wrapper__row aic">
                        <img src="assets/images/100.svg" alt="Скорость" class="buy__card-images-wrapper__row-img">
                        <img src="assets/images/camera-svg.svg" alt="Камера" class="buy__card-images-wrapper__row-img">
                        <img src="assets/images/wifi.svg" alt="wifi" class="buy__card-images-wrapper__row-img">
                    </div>
                </div>
                <div class="buy__card-title-wrapper">
                    <span class="buy__card-title buy__card-title_mini"><span class="buy__card-title_small">Пакет</span> <br> "Все под контролем"</span>
                </div>
            </div>

            <div class="buy__card card">
                <div class="buy__card-images-wrapper">
                    <div class="buy__card-images-wrapper__row">
                        <img src="assets/images/btv.svg" alt="btv" class="buy__card-images-wrapper__row-img">
                    </div>
                    <div class="buy__card-images-wrapper__row aic">
                        <img src="assets/images/100.svg" alt="Скорость" class="buy__card-images-wrapper__row-img">
                        <img src="assets/images/camera-svg-small.svg" alt="Камера" class="buy__card-images-wrapper__row-img">
                        <img src="assets/images/wifi.svg" alt="wifi" class="buy__card-images-wrapper__row-img">
                    </div>
                </div>
                <div class="buy__card-title-wrapper">
                    <span class="buy__card-title buy__card-title_mini"><span class="buy__card-title_small">Пакет</span> <br> "Тысяча пятьсот"</span>
                </div>
            </div>
        </div>
    </div>
</section>