<section class="feedback section">
    <div class="container">
        <div class="row">
            <div class="feedback__wrapper">
                <div class="feedback__card card card_white">
                    <p class="feedback__card__text">
                        Оставьте заявку, и мы позвоним вам в ближайшее время
                    </p>
                    <form action="" class="feedback__form">
                        <div class="feedback__form-control">
                            <input value="+7 ___ ___ ____" id="phone" name="phone" type="tel" class="feedback__form-input input" placeholder="+7 ___ ___ ____">
                            <label for="phone">
                                <img src="assets/images/danger.svg" alt="danger">
                                <span>Контактный телефон</span> 
                            </label>
                        </div>
                        <button type="submit" class="feedback__form-btn btn">
                            <span class="feedback__form-btn__text">Отправить заявку</span>
                            <img src="assets/images/send.svg" alt="" class="feedback__form-btn__img">
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>