<header class="header">
    <div class="container">
        <div class="row">
            <div class="header__wrapper">
                <div class="header__wrapper-content">
                    <div class="header__wrapper-content__title-block">
                        <img src="assets/images/ic-logo.svg" alt="" class="header__wrapper-content__title-block__logo">
                        <h1 class="header__wrapper-content__title-block__header">Датчик спокойствия</h1>
                    </div>
                    <p class="header__wrapper-content__text-block">
                        Комплекс из камеры и мобильного приложения, который помогает в любой момент убедиться, что с близкими и домом всё в порядке.
                    </p>
                </div>
            </div>
        </div>
    </div>
</header>
