<div class="popup popup_left" id="left-popup">
    <div class="popup__dialog card">
        <button class="popup__close-btn">
            <svg class="popup__close-icon" height="365.696pt" viewBox="0 0 365.696 365.696" width="365.696pt" xmlns="http://www.w3.org/2000/svg"><path d="m243.1875 182.859375 113.132812-113.132813c12.5-12.5 12.5-32.765624 0-45.246093l-15.082031-15.082031c-12.503906-12.503907-32.769531-12.503907-45.25 0l-113.128906 113.128906-113.132813-113.152344c-12.5-12.5-32.765624-12.5-45.246093 0l-15.105469 15.082031c-12.5 12.503907-12.5 32.769531 0 45.25l113.152344 113.152344-113.128906 113.128906c-12.503907 12.503907-12.503907 32.769531 0 45.25l15.082031 15.082031c12.5 12.5 32.765625 12.5 45.246093 0l113.132813-113.132812 113.128906 113.132812c12.503907 12.5 32.769531 12.5 45.25 0l15.082031-15.082031c12.5-12.503906 12.5-32.769531 0-45.25zm0 0"></path></svg>
        </button>
        <div class="popup__card-list">
            <div class="popup__card-list__card card card_not-shadow card_white">
                <div class="popup__card-list__card-circle">
                    <img src="assets/images/union.svg" alt="wifi-кабель" class="popup__card-list__card-img">
                </div>
                <span class="popup__card-list__card-text">Работает по Wi-Fi или кабелю</span>
            </div>

            <div class="popup__card-list__card card card_not-shadow card_white">
                <div class="popup__card-list__card-circle">
                    <img src="assets/images/display.svg" alt="display" class="popup__card-list__card-img">
                </div>
                <span class="popup__card-list__card-text">Разрешение 1280х960 (HD)</span>
            </div>

            <div class="popup__card-list__card card card_not-shadow card_white">
                <div class="popup__card-list__card-circle">
                    <img src="assets/images/night.svg" alt="ночная съемка" class="popup__card-list__card-img">
                </div>
                <span class="popup__card-list__card-text">Ночная съемка</span>
            </div>

            <div class="popup__card-list__card card card_not-shadow card_white">
                <div class="popup__card-list__card-circle">
                    <img src="assets/images/rec.svg" alt="запись" class="popup__card-list__card-img">
                </div>
                <span class="popup__card-list__card-text">Запись звука и видео</span>
            </div>

            <div class="popup__card-list__card card card_not-shadow card_white">
                <div class="popup__card-list__card-circle">
                    <img src="assets/images/corner.svg" alt="угол обзора" class="popup__card-list__card-img">
                </div>
                <span class="popup__card-list__card-text">Угол обзора 100°</span>
            </div>

            <div class="popup__card-list__card card card_not-shadow card_white">
                <div class="popup__card-list__card-circle"></div>
                <span class="popup__card-list__card-text">Длина кабеля <br> 1.5 метра</span>
            </div>
        </div>
    </div>
</div>

<div class="popup popup_right" id="right-popup">
    <div class="popup__dialog card">
        <button class="popup__close-btn">
            <svg class="popup__close-icon" height="365.696pt" viewBox="0 0 365.696 365.696" width="365.696pt" xmlns="http://www.w3.org/2000/svg"><path d="m243.1875 182.859375 113.132812-113.132813c12.5-12.5 12.5-32.765624 0-45.246093l-15.082031-15.082031c-12.503906-12.503907-32.769531-12.503907-45.25 0l-113.128906 113.128906-113.132813-113.152344c-12.5-12.5-32.765624-12.5-45.246093 0l-15.105469 15.082031c-12.5 12.503907-12.5 32.769531 0 45.25l113.152344 113.152344-113.128906 113.128906c-12.503907 12.503907-12.503907 32.769531 0 45.25l15.082031 15.082031c12.5 12.5 32.765625 12.5 45.246093 0l113.132813-113.132812 113.128906 113.132812c12.503907 12.5 32.769531 12.5 45.25 0l15.082031-15.082031c12.5-12.503906 12.5-32.769531 0-45.25zm0 0"></path></svg>
        </button>
        <div class="popup__card-list">
            <div class="popup__card-list__card card card_not-shadow card_white">
                <div class="popup__card-list__card-circle popup__card-list__card-circle_big">
                    <img src="assets/images/trainers.svg" alt="кроссовок" class="popup__card-list__card-img">
                </div>
                <span class="popup__card-list__card-text">Уведомление на телефон о движении</span>
            </div>

            <div class="popup__card-list__card card card_not-shadow card_white">
                <div class="popup__card-list__card-circle">
                    <img src="assets/images/store.svg" alt="хранилище" class="popup__card-list__card-img">
                </div>
                <span class="popup__card-list__card-text">Хранение данных на защищенных серверах</span>
            </div>

            <div class="popup__card-list__card card card_not-shadow card_white">
                <div class="popup__card-list__card-circle">
                    <img src="assets/images/peoples.svg" alt="семья" class="popup__card-list__card-img">
                </div>
                <span class="popup__card-list__card-text">Совместный доступ у членов семьи</span>
            </div>

            <div class="popup__card-list__card card card_not-shadow card_white">
                <div class="popup__card-list__card-circle">
                    <img src="assets/images/smartphone.svg" alt="смартфон" class="popup__card-list__card-img">
                </div>
                <span class="popup__card-list__card-text">Скачивание/ удаление архивных записей</span>
            </div>

            <div class="popup__card-list__card card card_not-shadow card_white">
                <div class="popup__card-list__card-circle">
                    <img src="assets/images/mark.svg" alt="метка" class="popup__card-list__card-img">
                </div>
                <span class="popup__card-list__card-text">Доступ из любой точки мира</span>
            </div>

            <div class="popup__card-list__card card card_not-shadow card_white">
                <div class="popup__card-list__card-circle">
                    <img src="assets/images/notice.svg" alt="уведомление" class="popup__card-list__card-img">
                </div>
                <span class="popup__card-list__card-text">Уведомление о приходе «Домашних»</span>
            </div>
        </div>
    </div>
</div>