<section class="section product-info">
    <div class="container">
        <div class="row">
            <div class="product-info__item">
                <div class="card product-info__card js-open-popup" data-popup="left-popup">
                    <img src="assets/images/camera.png" alt="camera" class="product-info__img">
                </div>
                <button class="product-info__details js-open-popup" data-popup="left-popup">Подробнее</button>
            </div>
            <div class="product-info__item">
                <div class="card product-info__card js-open-popup" data-popup="right-popup">
                    <img src="assets/images/camera.png" alt="camera" class="product-info__img">
                </div>
                <button class="product-info__details js-open-popup" data-popup="right-popup">Подробнее</button>
            </div>
        </div>
    </div>
</section>