<section class="section review">
    <div class="container">
        <h2 class="section__title buy__title">Отзывы</h2>
        <div class="review__slider slider">

            <div class="slider__item review__slider-card card card_not-shadow">
                <div class="review__slider-card__wrapper">
                    <div class="review__slider-card__avatar">
                        <img src="assets/images/avatar.jpg" alt="avatar" class="review__slider-card__img">
                    </div>
                    <div class="review__slider-card__text">
                        <span class="review__slider-card__name">Алексей Гоно</span>
                        <p class="review__slider-card__message">
                            Отличное и удобное приложение. Классные возможности, отзывчивая поддержка.
                        </p>
                    </div>
                </div>
                <button class="review__slider-card__btn slider__next-btn">
                    <svg class="review__slider-card__icon" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="451.847px" height="451.847px" viewBox="0 0 451.847 451.847" style="enable-background:new 0 0 451.847 451.847;" xml:space="preserve">
                        <g>
                            <path d="M225.923,354.706c-8.098,0-16.195-3.092-22.369-9.263L9.27,151.157c-12.359-12.359-12.359-32.397,0-44.751c12.354-12.354,32.388-12.354,44.748,0l171.905,171.915l171.906-171.909c12.359-12.354,32.391-12.354,44.744,0c12.365,12.354,12.365,32.392,0,44.751L248.292,345.449C242.115,351.621,234.018,354.706,225.923,354.706z"/>
                        </g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g>
                    </svg>
                </button>
            </div>

            <div class="slider__item review__slider-card card card_not-shadow">
                <div class="review__slider-card__wrapper">
                    <div class="review__slider-card__avatar">
                        <img src="assets/images/avatar.jpg" alt="avatar" class="review__slider-card__img">
                    </div>
                    <div class="review__slider-card__text">
                        <span class="review__slider-card__name">Алексей Гоно 2</span>
                        <p class="review__slider-card__message">
                            Отличное и удобное приложение. Классные возможности, отзывчивая поддержка.
                        </p>
                    </div>
                </div>
                <button class="review__slider-card__btn slider__next-btn">
                    <svg class="review__slider-card__icon" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="451.847px" height="451.847px" viewBox="0 0 451.847 451.847" style="enable-background:new 0 0 451.847 451.847;" xml:space="preserve">
                        <g>
                            <path d="M225.923,354.706c-8.098,0-16.195-3.092-22.369-9.263L9.27,151.157c-12.359-12.359-12.359-32.397,0-44.751c12.354-12.354,32.388-12.354,44.748,0l171.905,171.915l171.906-171.909c12.359-12.354,32.391-12.354,44.744,0c12.365,12.354,12.365,32.392,0,44.751L248.292,345.449C242.115,351.621,234.018,354.706,225.923,354.706z"/>
                        </g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g>
                    </svg>
                </button>
            </div>

            <div class="slider__item review__slider-card card card_not-shadow">
                <div class="review__slider-card__wrapper">
                    <div class="review__slider-card__avatar">
                        <img src="assets/images/avatar.jpg" alt="avatar" class="review__slider-card__img">
                    </div>
                    <div class="review__slider-card__text">
                        <span class="review__slider-card__name">Алексей Гоно 3</span>
                        <p class="review__slider-card__message">
                            Отличное и удобное приложение. Классные возможности, отзывчивая поддержка.
                        </p>
                    </div>
                </div>
                <button class="review__slider-card__btn slider__next-btn">
                    <svg class="review__slider-card__icon" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="451.847px" height="451.847px" viewBox="0 0 451.847 451.847" style="enable-background:new 0 0 451.847 451.847;" xml:space="preserve">
                        <g>
                            <path d="M225.923,354.706c-8.098,0-16.195-3.092-22.369-9.263L9.27,151.157c-12.359-12.359-12.359-32.397,0-44.751c12.354-12.354,32.388-12.354,44.748,0l171.905,171.915l171.906-171.909c12.359-12.354,32.391-12.354,44.744,0c12.365,12.354,12.365,32.392,0,44.751L248.292,345.449C242.115,351.621,234.018,354.706,225.923,354.706z"/>
                        </g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</section>