<!DOCTYPE html>
<html lang="ru">
<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {{> head }}
</head>
<body>

    {{> body }}
    <div class="mat-container">
        <div class="mat-col">
            <div class="safari mat-card">
                <div class="mat-image-placeholder mat-image-placeholder_primary safari__image-placeholder">
                    Kangaroo Valley Safari
                </div>
                <div class="safari__body">
                    <p class="mat-paragraph safari__paragraph">
                        Located two hours south of Sydney in the Southern Highlands of New South Wales, ...
                    </p>
                </div>
                <span class="mat-divider"></span>
                <div class="safari__footer">
                    <button class="mat-button mat-button_flat">share</button>
                    <button class="mat-button mat-button_flat">learn more</button>
                </div>
            </div>
            <div class="pooch mat-card">
                <div class="pooch__aside">
                    <div class="mat-image-placeholder pooch__image-placeholder"></div>
                </div>
                <div class="pooch__content">
                    <div class="pooch__body">
                        <div class="pooch__title">
                            <h2 class="mat-title">El Pooch</h2>
                            <span class="mat-subscription">By Alex Nelson</span>
                        </div>
                    </div>
                    <span class="mat-divider"></span>
                    <div class="pooch__footer">
                        <button class="mat-button mat-button_flat">free sample</button>
                        <button class="mat-button mat-button_flat">review</button>
                    </div>
                </div>
            </div>
            <div class="welcome mat-card">
                <div class="welcome__body">
                    <h2 class="mat-title mat-title_primary welcome__title">Welcome Back!</h2>
                    <span class="welcome__question">It’s been a while, have you read any new books lately?</span>
                </div>
                <span class="mat-divider"></span>
                <div class="welcome__footer">
                    <button class="mat-button mat-button_flat">No</button>
                    <button class="mat-button mat-button_flat">Yes</button>
                </div>
            </div>
        </div>
        <div class="mat-col">
            <div class="homes mat-card">
                <div class="mat-image-placeholder mat-image-placeholder_secondary homes__image-placeholder">
                    Pre-fab Homes
                </div>
                <div class="homes__footer">
                    <button class="mat-icon-button">
                        <span class="material-icons mat-icon">favorite</span>
                    </button>
                    <button class="mat-icon-button">
                        <span class="material-icons mat-icon">bookmark</span>
                    </button>
                    <button class="mat-icon-button">
                        <span class="material-icons mat-icon">share</span>
                    </button>
                </div>
            </div>
            <div class="mat-row">
                <div class="road-trips mat-card">
                    <div class="mat-image-placeholder mat-image-placeholder_tertiary road-trips__image-placeholder">
                        Favorite Road Trips
                    </div>
                    <div class="road-trips__footer">
                        <button class="mat-icon-button">
                            <span class="material-icons mat-icon">favorite</span>
                        </button>
                        <button class="mat-icon-button">
                            <span class="material-icons mat-icon">bookmark</span>
                        </button>
                        <button class="mat-icon-button">
                            <span class="material-icons mat-icon">share</span>
                        </button>
                    </div>
                </div>

                <div class="airlines mat-card">
                    <div class="mat-image-placeholder mat-image-placeholder_primary airlines__image-placeholder">
                        Best Airlines
                    </div>
                    <div class="airlines__footer">
                        <button class="mat-icon-button">
                            <span class="material-icons mat-icon">favorite</span>
                        </button>
                        <button class="mat-icon-button">
                            <span class="material-icons mat-icon">bookmark</span>
                        </button>
                        <button class="mat-icon-button">
                            <span class="material-icons mat-icon">share</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="mat-row">
                <div class="mat-row__col">
                    <div class="mat-card mat-data-ticket mat-data-ticket_tertiary">
                        <div class="mat-data-ticket__body">
                            <h2 class="mat-data-ticket__title">Yuna tickets on sale 6/24</h2>
                        </div>
                        <div class="mat-data-ticket__footer">
                            <span class="mat-data-ticket__date">May 24, 2014</span>
                            <button class="mat-icon-button mat-icon-button_light">
                                <span class="material-icons mat-icon">today</span>
                            </button>
                        </div>
                    </div>
                    <div class="clean mat-card">
                        <div class="mat-image-placeholder mat-image-placeholder_dark clean__image-placeholder">Clean desk</div>
                    </div>
                </div>
                <div class="groceries mat-card">
                    <div class="groceries__body">
                        <h2 class="groceries__title">Groceries:</h2>
                        <div class="mat-checkbox">
                            <div class="mat-checkbox__control">
                                <label for="checkbox1" class="mat-checkbox__layout">
                                    <span class="mat-checkbox__checkbox">
                                        <input type="checkbox" id="checkbox1" class="mat-checkbox__input">
                                        <span class="mat-checkbox__checked">
                                            <span class="material-icons mat-icon">done</span>
                                        </span>
                                    </span>
                                    <span class="mat-checkbox__label">almond milk</span>
                                </label>
                            </div>
                            <div class="mat-checkbox__control">
                                <label for="checkbox2" class="mat-checkbox__layout">
                                    <span class="mat-checkbox__checkbox">
                                        <input type="checkbox" id="checkbox2" class="mat-checkbox__input">
                                        <span class="mat-checkbox__checked">
                                            <span class="material-icons mat-icon">done</span>
                                        </span>
                                    </span>
                                    <span class="mat-checkbox__label">coconut water</span>
                                </label>
                            </div>
                            <div class="mat-checkbox__control">
                                <label for="checkbox3" class="mat-checkbox__layout">
                                    <span class="mat-checkbox__checkbox">
                                        <input type="checkbox" id="checkbox3" class="mat-checkbox__input">
                                        <span class="mat-checkbox__checked">
                                            <span class="material-icons mat-icon">done</span>
                                        </span>
                                    </span>
                                    <span class="mat-checkbox__label">cucumber</span>
                                </label>
                            </div>
                            <div class="mat-checkbox__control">
                                <label for="checkbox4" class="mat-checkbox__layout">
                                    <span class="mat-checkbox__checkbox">
                                        <input type="checkbox" id="checkbox4" class="mat-checkbox__input">
                                        <span class="mat-checkbox__checked">
                                            <span class="material-icons mat-icon">done</span>
                                        </span>
                                    </span>
                                    <span class="mat-checkbox__label">green apples</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="groceries__footer">
                        <span class="groceries__place">Campbell</span>
                        <button class="mat-icon-button mat-icon-button_light">
                            <span class="material-icons mat-icon groceries__icon">place</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="btn-block">
        <button class="mat-button mat-button_raised mat-button_normal">Открыть</button>
    </div>

    <div class="keyboard-block">
        <div class="mat-keyboard light">
            <div class="mat-keyboard__suggestions">
                <span class="mat-keyboard__suggestions__word">suggestion</span>
                <span class="mat-keyboard__suggestions__word mat-keyboard__suggestions__word_bold">suggestion</span>
                <span class="mat-keyboard__suggestions__word">suggestion</span>
            </div>
            <div class="mat-keyboard__body">
                <div class="mat-keyboard__letters">
                    <div class="mat-keyboard__line mat-keyboard__line_one">
                        <button class="mat-keyboard__letter">q</button>
                        <button class="mat-keyboard__letter">w</button>
                        <button class="mat-keyboard__letter">e</button>
                        <button class="mat-keyboard__letter">r</button>
                        <button class="mat-keyboard__letter">t</button>
                        <button class="mat-keyboard__letter">y</button>
                        <button class="mat-keyboard__letter">u</button>
                        <button class="mat-keyboard__letter">i</button>
                        <button class="mat-keyboard__letter">o</button>
                        <button class="mat-keyboard__letter">p</button>
                    </div>
                    <div class="mat-keyboard__line mat-keyboard__line_two">
                        <button class="mat-keyboard__letter">a</button>
                        <button class="mat-keyboard__letter">s</button>
                        <button class="mat-keyboard__letter">d</button>
                        <button class="mat-keyboard__letter">f</button>
                        <button class="mat-keyboard__letter">g</button>
                        <button class="mat-keyboard__letter">h</button>
                        <button class="mat-keyboard__letter">j</button>
                        <button class="mat-keyboard__letter">k</button>
                        <button class="mat-keyboard__letter">l</button>
                    </div>
                    <div class="mat-keyboard__line mat-keyboard__line_three">
                        <button class="mat-keyboard__icon-btn">
                            <svg width="18" height="20" viewBox="0 0 18 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path opacity="0.6" fill-rule="evenodd" clip-rule="evenodd" d="M18 9H13V14H5V9H0L9 0L18 9ZM2 20V18H16V20H2Z"/>
                            </svg>
                        </button>
                        <button class="mat-keyboard__letter">z</button>
                        <button class="mat-keyboard__letter">x</button>
                        <button class="mat-keyboard__letter">c</button>
                        <button class="mat-keyboard__letter">v</button>
                        <button class="mat-keyboard__letter">b</button>
                        <button class="mat-keyboard__letter">n</button>
                        <button class="mat-keyboard__letter">m</button>
                        <button class="mat-keyboard__icon-btn">
                            <svg width="24" height="18" viewBox="0 0 24 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path opacity="0.6" fill-rule="evenodd" clip-rule="evenodd" d="M22 0H7.1C6.4 0 5.8 0.3 5.4 0.9L0 9L5.4 17.1C5.8 17.6 6.4 18 7.1 18H22C23.1 18 24 17.1 24 16V2C24 0.9 23.1 0 22 0ZM19 12.6L17.6 14L14 10.4L10.4 14L9 12.6L12.6 9L9 5.4L10.4 4L14 7.6L17.6 4L19 5.4L15.4 9L19 12.6Z"/>
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="mat-keyboard__last-line">
                    <button class="mat-keyboard__digit">?123</button>
                    <button class="mat-keyboard__letter">,</button>
                    <button class="mat-keyboard__space"></button>
                    <button class="mat-keyboard__letter">.</button>
                    <button class="mat-keyboard__enter">
                        <svg width="20" height="13" viewBox="0 0 20 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M17.1 5.80005V1.80005H19.1V7.80005H3.90001L7.50001 11.4L6.10001 12.8L0.100006 6.80005L6.10001 0.800049L7.50001 2.20005L3.90001 5.80005H17.1Z" fill="white"/>
                        </svg>
                    </button>
                </div>
            </div>
        </div>

        <div class="mat-keyboard dark">
            <div class="mat-keyboard__suggestions">
                <span class="mat-keyboard__suggestions__word">suggestion</span>
                <span class="mat-keyboard__suggestions__word mat-keyboard__suggestions__word_bold">suggestion</span>
                <span class="mat-keyboard__suggestions__word">suggestion</span>
            </div>
            <div class="mat-keyboard__body">
                <div class="mat-keyboard__letters">
                    <div class="mat-keyboard__line mat-keyboard__line_one">
                        <button class="mat-keyboard__letter">q</button>
                        <button class="mat-keyboard__letter">w</button>
                        <button class="mat-keyboard__letter">e</button>
                        <button class="mat-keyboard__letter">r</button>
                        <button class="mat-keyboard__letter">t</button>
                        <button class="mat-keyboard__letter">y</button>
                        <button class="mat-keyboard__letter">u</button>
                        <button class="mat-keyboard__letter">i</button>
                        <button class="mat-keyboard__letter">o</button>
                        <button class="mat-keyboard__letter">p</button>
                    </div>
                    <div class="mat-keyboard__line mat-keyboard__line_two">
                        <button class="mat-keyboard__letter">a</button>
                        <button class="mat-keyboard__letter">s</button>
                        <button class="mat-keyboard__letter">d</button>
                        <button class="mat-keyboard__letter">f</button>
                        <button class="mat-keyboard__letter">g</button>
                        <button class="mat-keyboard__letter">h</button>
                        <button class="mat-keyboard__letter">j</button>
                        <button class="mat-keyboard__letter">k</button>
                        <button class="mat-keyboard__letter">l</button>
                    </div>
                    <div class="mat-keyboard__line mat-keyboard__line_three">
                        <button class="mat-keyboard__icon-btn">
                            <svg width="18" height="20" viewBox="0 0 18 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path opacity="0.6" fill-rule="evenodd" clip-rule="evenodd" d="M18 9H13V14H5V9H0L9 0L18 9ZM2 20V18H16V20H2Z"/>
                            </svg>
                        </button>
                        <button class="mat-keyboard__letter">z</button>
                        <button class="mat-keyboard__letter">x</button>
                        <button class="mat-keyboard__letter">c</button>
                        <button class="mat-keyboard__letter">v</button>
                        <button class="mat-keyboard__letter">b</button>
                        <button class="mat-keyboard__letter">n</button>
                        <button class="mat-keyboard__letter">m</button>
                        <button class="mat-keyboard__icon-btn">
                            <svg width="24" height="18" viewBox="0 0 24 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path opacity="0.6" fill-rule="evenodd" clip-rule="evenodd" d="M22 0H7.1C6.4 0 5.8 0.3 5.4 0.9L0 9L5.4 17.1C5.8 17.6 6.4 18 7.1 18H22C23.1 18 24 17.1 24 16V2C24 0.9 23.1 0 22 0ZM19 12.6L17.6 14L14 10.4L10.4 14L9 12.6L12.6 9L9 5.4L10.4 4L14 7.6L17.6 4L19 5.4L15.4 9L19 12.6Z"/>
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="mat-keyboard__last-line">
                    <button class="mat-keyboard__digit">?123</button>
                    <button class="mat-keyboard__letter">,</button>
                    <button class="mat-keyboard__space"></button>
                    <button class="mat-keyboard__letter">.</button>
                    <button class="mat-keyboard__enter">
                        <svg width="20" height="13" viewBox="0 0 20 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M17.1 5.80005V1.80005H19.1V7.80005H3.90001L7.50001 11.4L6.10001 12.8L0.100006 6.80005L6.10001 0.800049L7.50001 2.20005L3.90001 5.80005H17.1Z" fill="white"/>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="mat-dialog">
        <div class="mat-dialog__close">
            <button class="mat-icon-button mat-icon-button">
                <span class="material-icons mat-icon">close</span>
            </button>
        </div>
        <h2 class="mat-dialog__title">Permissions</h2>
        <div class="mat-dialog__body">
            <p class="mat-dialog__paragraph">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisinuli.
            </p>
        </div>
        <div class="mat-dialog__footer">
            <button class="mat-button mat-button_flat">decline</button>
            <button class="mat-button mat-button_flat">accept</button>
        </div>
    </div>

    <script src="assets/js/app.js"></script>
</body>
</html>